//
// BOD Control
// Mobile First CSS Method
// Created by Hiroko Y.
// Last updated: 2018-04-06 10:47AM
// --------------------------------------------------
#BB-knows {
  @include page-default;
  background: #2584bd;

  h2{
    @include element-title;
    color: #fff;
  }
  .description{
    @include element-description;
    color:#fff;
  }
  .custom-bb-padding{
    padding-left: 0;
    padding-right: 0;
  }
  .row-eq-height {
    display: block;
  }  
}


/* Desktop (>= 768px)
-------------------------------------------------- */
@media (min-width: 768px) {
  #BB-knows {
    padding: 55px 0;
    .custom-bb-padding{
      padding-left: 30px;
      padding-right: 30px;
    }
    .row-eq-height {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display:         flex;
    }        
  }  
}


/* Desktop (>= 992px)
-------------------------------------------------- */
@media (min-width: 992px) {
  #BB-knows {
    padding: 90px 0;

    h2 {
      @include element-title-desktop;
      margin-top: 75px;
      margin-top: 0;
    }
    .description{
      @include element-description-desktop;
      margin-top: 40px;
      margin-bottom: 0;
    }
  }
}




